<div class="login">
  <mat-card>
    <mat-card-header class="login-header">
      <div class="text-center">
        <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" />
      </div>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <mat-form-field>
            <input matInput type="text" autocomplete="off" placeholder="Nombre de usuario" formControlName="user" />
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" formControlName="password" />
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">ACEPTAR</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
